.projects{
    background-color: black;
    color: #FFFEFE;
    padding: 3rem .5rem;
}

@media (min-width: 768px) and (max-width: 2560px)  {
    .projects{
        background-color: black;
        color: #FFFEFE;
        padding: 3rem 10rem;
    }
}