.techSkills{
    background: linear-gradient(59.81deg, #615AF5 13.9%, #9D49E9 50.53%, #CF5DA4 92.04%);
    color:black;
    padding: 3rem 1.5rem;
    border-bottom: 1px solid #301548ba;
    box-shadow: 0px 10px 30px 5px #000000eb;
    z-index: 20;
    position: relative;
}

.col{
    padding: 3rem;
    gap:3rem;
}